[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "derfinderHelper"]
	path = derfinderHelper
	url = https://github.com/leekgroup/derfinderhelper
[submodule "derfinderPlot"]
	path = derfinderPlot
	url = https://github.com/leekgroup/derfinderplot
[submodule "recount"]
	path = recount
	url = https://github.com/leekgroup/recount
[submodule "regionReport"]
	path = regionReport
	url = https://github.com/leekgroup/regionreport
[submodule "swfdr"]
	path = swfdr
	url = https://github.com/leekgroup/swfdr
