[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "derfinderHelper"]
	path = derfinderHelper
	url = https://github.com/leekgroup/derfinderhelper
	shallow = true
	registered = true
[submodule "derfinderPlot"]
	path = derfinderPlot
	url = https://github.com/leekgroup/derfinderplot
	shallow = true
	registered = true
[submodule "regionReport"]
	path = regionReport
	url = https://github.com/leekgroup/regionreport
	shallow = true
	registered = true
[submodule "swfdr"]
	path = swfdr
	url = https://github.com/leekgroup/swfdr
	shallow = true
	registered = true
